@import '../../styles/variables';

section.tone-links {
  margin: 2em auto;
  width: 70%;

  a.tone {
    border-radius: 4px;
    cursor: pointer;
    padding: .5em;
    margin: .5em;
    transition: all ease .3s;

    &.joy {
      &.selected, &:hover {
        background: $joy;
      }
      border: solid 2px $joy;
    }
    &.fear {
      &.selected, &:hover {
        background: $fear;
        color: white;
      }
      border: solid 2px $fear;
    }
    &.sadness {
      &.selected, &:hover {
        background: $sadness;
        color: white;
      }
      border: solid 2px $sadness;
    }
    &.anger {
      &.selected, &:hover {
        background: $anger;
        color: white;
      }
      border: solid 2px $anger;
    }
    &.analytical {
      &.selected, &:hover {
        background: $analytical;
        color: white;
      }
      border: solid 2px $analytical;
    }
    &.confident {
      &.selected, &:hover {
        background: $confident;
        color: white;
      }
      border: solid 2px $confident;
    }
    &.tentative {
      &.selected, &:hover {
        background: $tentative;
        color: white;
      }
      border: solid 2px $tentative;
    }

    &.selected {
      span {
        position: relative;

        &:before {
          bottom: 0;
          content: '';
          height: 100%;
          left: 0;
          position: absolute;
          right: 0;
          top: 0;
          width: 100%;
        }
        
        svg {
          margin-left: .3em;

          opacity: 1;
          -webkit-animation-name: fadeIn; /* Safari 4.0 - 8.0 */
          -webkit-animation-duration: .3s; /* Safari 4.0 - 8.0 */
          animation-name: fadeIn;
          animation-duration: .3s;
        }
      }
    }
  }
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

/* Standard syntax */
@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}