.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 50px;
}

.App-header {
  background-color: #282c34;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

section.tone-links {
  margin: 2em auto;
  width: 50%;

  a.tone {
    border-radius: 4px;
    cursor: pointer;
    padding: .5em;
    margin: .5em;
  }
}

.joy {
  // color: ff0;
  border: solid 1px rgba(255,255,25, .5);
}


